.idea/
.gradle/
build/
out/
*.iml
*.ipr
*.iws
.DS_Store
.env
src/main/conf/my-application-conf.json
.classpath
.project
.settings/
bin/
.vscode/
newrelic/logs/
/src/main/resources/vertx-users.properties
/config/my-application-conf.json
/config/vertx-users.properties
/logs/vertx.log
/logs/vertx.log.lck
