html {
  box-sizing: border-box;
  background: no-repeat linear-gradient(#27a6f5, #11d8b9);
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h2 {
  color: white;
  font-weight: 400;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 200px;
  padding: 20px;
}

input[type=submit] {
  background-color: #ed3870;
  color: white;
  font-weight: 300;
  font-size: 16px;
  border-radius: 400px;
  transition: background-color .3s;
  height: 40px;
  padding: 5px;
  margin: 16px
}

input[type=submit]:hover, input[type=submit]:focus {
  background-color: #eb215f;
}